# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
/data/

# Virtual envs
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/
static/
*.log

# Env / secrets
.env
*.env

# Node (if any)
node_modules/
npm-debug.log*

# Editors / OS
.vscode/
.DS_Store
Thumbs.db

